<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
  </head>
  <body>
    <nav class="header-nav">
        <div class="nav-div">
            <span class="header-nav-span" {% if "/" in request.path %}style="text-decoration:underline"{% endif %}>Top songs</span>
        </div>
        <div class="nav-div">
            <span class="header-nav-span">Configuration</span>
        </div>
    </nav>
    <div class="top-wrapper">
        {%for entry in top_songs%}
        <p>
            {%for i, column in enumerate(entry)%}
                {%if i == 0%}
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{column.split(':')[-1]}}" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                {%endif%}

            {%endfor%}
        </p>
        {%endfor%}
    </div>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>